.modal-window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(81, 103, 102, .3);
}

.modal-window div {
    width: 40%;
    height: fit-content;
    margin: auto;
    text-align: center;
}

.modal-window fieldset {

    background-color: #EAFFF9;
    width: 40%;
    height: fit-content;
}